.active{
    background-color: yellow;
}
// .displayed {
//     margin-top: 10px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%) }

    button{
        width: 70px;
        height: 70px;
background-color: white;
margin: 10px;
    }
.aa{
        text-align: center;
    }
.bb{
       
        text-align: right;
 
    }